@{
    ViewData["Title"] = "Buscador";
}


<!--{block}-->


<link rel="stylesheet" href="~/css/planner.css">
<link rel="stylesheet" href="~/css/globals.css">

<div class="row top">
    <div class="col text-center">
        <h2>Buscador</h2>
    </div>
</div>



<div class="container-fluid mt-3">

    <div class="row">
        <div class="col-7">
            <div class="row mt-2">
        <form class="form-inline mx-auto d-flex flex-1">
            <script async src="https://cse.google.com/cse.js?cx=a0d850a3a11691953"></script>
            <div class="gcse-search"></div>
        </form>
    </div>
        </div>



        <div class="col-5"><h3 class="text-right mb-3">Expedientes</h3>




            <div class="row mb-2">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title limit">¿Está Jorge Gonzalez bien?</h5>
                            <h6 class="card-subtitle mb-2 text-muted limit">Por Paulina Vega</h6>
                            <p class="card-text limit-2">Desde que Jorge Gonzalez y la Fliquiteada salen juntos, Jorge ha hecho una cantidad alarmante de distintos posts en instagram.</p>
                            <a href="#" class="card-link"><i class="fa fa-download"></i></a>
                            <a href="#" class="card-link"><i class="fas fa-link"></i></a>
                            <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title limit">Sabrina porfavor borra la funa te juro que fue un error</h5>
                            <h6 class="card-subtitle mb-2 text-muted limit">Por Gus Johnson</h6>
                            <p class="card-text limit-2">Te juro que te amo fue un error por ser joven y estúpido nunca quise dejarte sola en un momento tan difícil para ir a abrir cartas de pókemon en un stream de Twitch.</p>
                            <a href="#" class="card-link"><i class="fa fa-download"></i></a>
                            <a href="#" class="card-link"><i class="fas fa-link"></i></a>
                            <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title limit">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
                            <h6 class="card-subtitle mb-2 text-muted limit">Por Dummy</h6>
                            <p class="card-text limit-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt finibus ultrices. Curabitur imperdiet nunc iaculis justo tincidunt rhoncus. Aenean id faucibus purus, et finibus augue. Phasellus suscipit neque vitae elit tempor, bibendum dignissim elit condimentum. In iaculis velit in lacus maximus, a aliquet nisl viverra. In quis scelerisque elit, non commodo ante. Nam vestibulum faucibus ex, eget luctus lorem blandit ac. Phasellus at tincidunt eros. Cras placerat erat a placerat vehicula. Vivamus varius eu elit nec blandit. Morbi pretium ante quis nulla molestie suscipit. Cras feugiat a purus sit amet luctus. In blandit at dui in rhoncus. Nunc velit ligula, consequat eu purus quis, gravida mattis felis. Nunc mattis justo ac sagittis tempor.</p>
                            <a href="#" class="card-link"><i class="fa fa-download"></i></a>
                            <a href="#" class="card-link"><i class="fas fa-link"></i></a>
                            <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title limit">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
                            <h6 class="card-subtitle mb-2 text-muted limit">Por Dummy</h6>
                            <p class="card-text limit-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt finibus ultrices. Curabitur imperdiet nunc iaculis justo tincidunt rhoncus. Aenean id faucibus purus, et finibus augue. Phasellus suscipit neque vitae elit tempor, bibendum dignissim elit condimentum. In iaculis velit in lacus maximus, a aliquet nisl viverra. In quis scelerisque elit, non commodo ante. Nam vestibulum faucibus ex, eget luctus lorem blandit ac. Phasellus at tincidunt eros. Cras placerat erat a placerat vehicula. Vivamus varius eu elit nec blandit. Morbi pretium ante quis nulla molestie suscipit. Cras feugiat a purus sit amet luctus. In blandit at dui in rhoncus. Nunc velit ligula, consequat eu purus quis, gravida mattis felis. Nunc mattis justo ac sagittis tempor.</p>
                            <a href="#" class="card-link"><i class="fa fa-download"></i></a>
                            <a href="#" class="card-link"><i class="fas fa-link"></i></a>
                            <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title limit">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
                            <h6 class="card-subtitle mb-2 text-muted limit">Por Dummy</h6>
                            <p class="card-text limit-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt finibus ultrices. Curabitur imperdiet nunc iaculis justo tincidunt rhoncus. Aenean id faucibus purus, et finibus augue. Phasellus suscipit neque vitae elit tempor, bibendum dignissim elit condimentum. In iaculis velit in lacus maximus, a aliquet nisl viverra. In quis scelerisque elit, non commodo ante. Nam vestibulum faucibus ex, eget luctus lorem blandit ac. Phasellus at tincidunt eros. Cras placerat erat a placerat vehicula. Vivamus varius eu elit nec blandit. Morbi pretium ante quis nulla molestie suscipit. Cras feugiat a purus sit amet luctus. In blandit at dui in rhoncus. Nunc velit ligula, consequat eu purus quis, gravida mattis felis. Nunc mattis justo ac sagittis tempor.</p>
                            <a href="#" class="card-link"><i class="fa fa-download"></i></a>
                            <a href="#" class="card-link"><i class="fas fa-link"></i></a>
                            <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
