@{
    ViewData["Title"] = "Buscador";
}

<link rel="stylesheet" href="~/css/planner.css">

<div class="row top">
    <div class="col text-center">
        <h2>Buscador</h2>
    </div>
</div>



<div class="container-fluid mt-3">

    <div class="row">
        <div class="col-7">
            <div class="row mt-2">
        <form class="form-inline mx-auto d-flex flex-1">
            <input class="form-control my-2 my-sm-0 mr-sm-2 flex-1" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-secondary my-2 my-sm-0 mr-sm-2 buttonGray" type="submit"><i class="fas fa-search"></i></button>
            <div class="dropdown my-2 my-sm-0">
                <button class="btn btn-outline-secondary dropdown-toggle buttonGray" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-filter"></i> Filtro
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </form>
    </div>
            <h3 class="my-3">Resultados</h3>
            <div class="row mb-3">
                <div class="col">
                    <div class="card text-left">
                        <div class="card-body">
                            <h5 class="card-title">Historiografía musical chilena, una aproximación</h5>
                            <p class="card-text scroll-text">El presente escrito se deriva de un reciente proyecto de investigación en torno a la historiografía de la música chilena.[1] Nos habíamos propuesto caracterizar y comprender el relato historiográfico sobre música de todo tipo en Chile, a través del análisis de libros publicados,[2] por lo que, durante dos años, nos abocamos a la ubicación de ese material, a su evaluación y a la elaboración de criterios que permitieron la constitución final del universo de estudio.[3] El solo acto de comunicar tales contenidos de manera pública, estimábamos, podría revelar implícitamente al menos tres cuestiones fundamentales: una conceptualización de lo musical (que discrimina y distingue), cierta teoría cultural (que fundamenta la operación previa) y algún concepto de sociedad (a la que pretende contribuir). El acto de enunciación podría, además, remitir a otros dos aspectos, como son la ideología del autor y el contexto de producción que habría condicionado su aporte. En su conjunto esta producción configuraría un ejercicio </p>
                            <div class="ml-1 row">
                                <a href="http://resonancias.uc.cl/es/N%C2%BA-38/historiografia-musical-chilena-una-aproximacion-2.html" class="btn btn-blue my-2 my-sm-0 mr-sm-2"><i class="fas fa-link"></i> Enlace</a>
                                <a href="#" class="btn btn-green my-2 my-sm-0 mr-sm-2"><i class="fas fa-plus"></i> Agregar a expediente</a>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            http://resonancias.uc.cl/es/N%C2%BA-38/historiografia-musical-chilena-una-aproximacion-2.html
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="card text-left">
                        <div class="card-body">
                            <h5 class="card-title">Stock, Freddy. Corazones Rojos. Biografía no autorizada de "Los Prisioneros"</h5>
                            <p class="card-text scroll-text"> - </p>
                            <div class="ml-1 row">
                                <a href="http://resonancias.uc.cl/es/N%C2%BA-38/historiografia-musical-chilena-una-aproximacion-2.html" class="btn btn-blue my-2 my-sm-0 mr-sm-2"><i class="fas fa-link"></i> Enlace</a>
                                <a href="#" class="btn btn-green my-2 my-sm-0 mr-sm-2"><i class="fas fa-plus"></i> Agregar a expediente</a>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            http://resonancias.uc.cl/es/N%C2%BA-38/historiografia-musical-chilena-una-aproximacion-2.html
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="card text-left">
                        <div class="card-body">
                            <h5 class="card-title">La dictadura y la música popular en Chile: los primeros años de plomo</h5>
                            <p class="card-text scroll-text"> Resumen
                            Este estudio contempla el impacto del régimen represivo de Augusto Pinochet (1973-1990) sobre los artistas y la vida cultural en Chile, particularmente sobre los músicos que formaron parte del movimiento de la Nueva Canción Chilena (NCCh), en los primeros años de la dictadura (1973-1977), usando el instrumento analítico de la microhistoria. Examina también, de manera comparativa, la expresión cultural llamada Canto Nuevo, que surgió después del golpe de Estado. Este trabajo considera la vida cotidiana expresada en la microhistoria como un reflejo de los cambios ideológicos y estructurales que hizo la dictadura en un esfuerzo por borrar la historia reciente de la Unidad Popular (UP) y los sueños de las clases populares de Chile. </p>
                            <div class="ml-1 row">
                                <a href="http://resonancias.uc.cl/es/N%C2%BA-45/la-dictadura-y-la-musica-popular-en-chile-los-primeros-anos-de-plomo.html" class="btn btn-blue my-2 my-sm-0 mr-sm-2"><i class="fas fa-link"></i> Enlace</a>
                                <a href="#" class="btn btn-green my-2 my-sm-0 mr-sm-2"><i class="fas fa-plus"></i> Agregar a expediente</a>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            http://resonancias.uc.cl/es/N%C2%BA-45/la-dictadura-y-la-musica-popular-en-chile-los-primeros-anos-de-plomo.html
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5"><h3 class="text-right mb-3">Expedientes</h3>
            <div class="row mb-2">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title limit">¿Está Jorge Gonzalez bien?</h5>
                            <h6 class="card-subtitle mb-2 text-muted limit">Por Paulina Vega</h6>
                            <p class="card-text limit-2">Desde que Jorge Gonzalez y la Fliquiteada salen juntos, Jorge ha hecho una cantidad alarmante de distintos posts en instagram.</p>
                            <a href="#" class="card-link"><i class="fa fa-download"></i></a>
                            <a href="#" class="card-link"><i class="fas fa-link"></i></a>
                            <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title limit">Sabrina porfavor borra la funa te juro que fue un error</h5>
                            <h6 class="card-subtitle mb-2 text-muted limit">Por Gus Johnson</h6>
                            <p class="card-text limit-2">Te juro que te amo fue un error por ser joven y estúpido nunca quise dejarte sola en un momento tan difícil para ir a abrir cartas de pókemon en un stream de Twitch.</p>
                            <a href="#" class="card-link"><i class="fa fa-download"></i></a>
                            <a href="#" class="card-link"><i class="fas fa-link"></i></a>
                            <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title limit">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
                            <h6 class="card-subtitle mb-2 text-muted limit">Por Dummy</h6>
                            <p class="card-text limit-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt finibus ultrices. Curabitur imperdiet nunc iaculis justo tincidunt rhoncus. Aenean id faucibus purus, et finibus augue. Phasellus suscipit neque vitae elit tempor, bibendum dignissim elit condimentum. In iaculis velit in lacus maximus, a aliquet nisl viverra. In quis scelerisque elit, non commodo ante. Nam vestibulum faucibus ex, eget luctus lorem blandit ac. Phasellus at tincidunt eros. Cras placerat erat a placerat vehicula. Vivamus varius eu elit nec blandit. Morbi pretium ante quis nulla molestie suscipit. Cras feugiat a purus sit amet luctus. In blandit at dui in rhoncus. Nunc velit ligula, consequat eu purus quis, gravida mattis felis. Nunc mattis justo ac sagittis tempor.</p>
                            <a href="#" class="card-link"><i class="fa fa-download"></i></a>
                            <a href="#" class="card-link"><i class="fas fa-link"></i></a>
                            <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title limit">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
                            <h6 class="card-subtitle mb-2 text-muted limit">Por Dummy</h6>
                            <p class="card-text limit-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt finibus ultrices. Curabitur imperdiet nunc iaculis justo tincidunt rhoncus. Aenean id faucibus purus, et finibus augue. Phasellus suscipit neque vitae elit tempor, bibendum dignissim elit condimentum. In iaculis velit in lacus maximus, a aliquet nisl viverra. In quis scelerisque elit, non commodo ante. Nam vestibulum faucibus ex, eget luctus lorem blandit ac. Phasellus at tincidunt eros. Cras placerat erat a placerat vehicula. Vivamus varius eu elit nec blandit. Morbi pretium ante quis nulla molestie suscipit. Cras feugiat a purus sit amet luctus. In blandit at dui in rhoncus. Nunc velit ligula, consequat eu purus quis, gravida mattis felis. Nunc mattis justo ac sagittis tempor.</p>
                            <a href="#" class="card-link"><i class="fa fa-download"></i></a>
                            <a href="#" class="card-link"><i class="fas fa-link"></i></a>
                            <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title limit">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
                            <h6 class="card-subtitle mb-2 text-muted limit">Por Dummy</h6>
                            <p class="card-text limit-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt finibus ultrices. Curabitur imperdiet nunc iaculis justo tincidunt rhoncus. Aenean id faucibus purus, et finibus augue. Phasellus suscipit neque vitae elit tempor, bibendum dignissim elit condimentum. In iaculis velit in lacus maximus, a aliquet nisl viverra. In quis scelerisque elit, non commodo ante. Nam vestibulum faucibus ex, eget luctus lorem blandit ac. Phasellus at tincidunt eros. Cras placerat erat a placerat vehicula. Vivamus varius eu elit nec blandit. Morbi pretium ante quis nulla molestie suscipit. Cras feugiat a purus sit amet luctus. In blandit at dui in rhoncus. Nunc velit ligula, consequat eu purus quis, gravida mattis felis. Nunc mattis justo ac sagittis tempor.</p>
                            <a href="#" class="card-link"><i class="fa fa-download"></i></a>
                            <a href="#" class="card-link"><i class="fas fa-link"></i></a>
                            <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
