@{
    ViewData["Title"] = "Buscador";
}

<link rel="stylesheet" href="~/js/site.js">
<link rel="stylesheet" href="~/css/request.css">

<title>Buscador</title>

<div class="busqueda">
    <input type="text" class="buscador" placeholder="¿Que buscas?">
    <a href="" class="boton">
    <i class="search.png"></i>
    </a>
</div>