@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/index.css" />

<div class="row top titleLayer fondo mb-4">
    <div class="col-4 text-right">
            <img src="~/logo.png" width="30%" height="auto">
        </div>
    <div class="col text-left mt-5">
        <h1>SOCIEDAD CHILENA DE MUSICOLOGÍA</h1>
        <h5>Grupo: Kawaii neko beans (>.<)</h5>
    </div>
</div>

<div class="container">
    <div class="row">  
        <div class="col justify">
            <div class="row"> 
                <h2>Nuestra institución</h2>
            </div>
            <div class="row">  
                <p>La Sociedad Chilena de Musicología (SChM) es una corporación de derecho privado sin fines de lucro constituida el 14 de junio de 2001, que convoca y agrupa a académicos e investigadores dedicados al estudio de la música en sus diversas manifestaciones. ​Sus objetivos principales son promover el desarrollo de la musicología en el país, favorecer el diálogo profesional entre sus miembros e incentivar los niveles de productividad, actualización y excelencia disciplinar.

                    Desde su fundación, la SChM ha contribuido al medio musical chileno vinculando a los investigadores e instituciones que trabajan desde diversas convergencias disciplinares para abarcar las múltiples y ricas expresiones musicales que se despliegan en nuestro país. Sus actividades y eventos buscan instituirse en un espacio para la reflexión y la generación de nuevo conocimiento cimentado en la interacción entre la comunidad musical artística y académica nacional.

                    La SChM es la entidad que representa oficialmente a los investigadores en música de nuestro país ante el Estado, a través del Consejo de Fomento de la Música Nacional, perteneciente al Consejo Nacional de la Cultura y las Artes.
                </p>
            </div>
        </div>
    </div>
</div>