@{
    ViewData["Title"] = "LeerMas";
}

<link rel="stylesheet" href="~/css/planner.css">
<link rel="stylesheet" href="~/css/globals.css">

<div class="row top">
    <div class="col text-center">
        <h2>Solicitudes</h2>
    </div>
</div>

<div class="container-fluid mt-3">
    <div class="row bottom">
        <div class="col">
            Alo
        </div>
    </div>
</div>