@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/login.css">
<link rel="stylesheet" href="~/css/globals.css">

<div class="container text-center">
    <section class="form-register">
        <h4>Login</h4>
        <input class="controls" type="email" name="correo" id="correo" placeholder="Correo (Ej: nombre@gmail.cl)">
        <input class="controls" type="password" name="contraseña" id="contraseña" placeholder="Contraseña">
        <button class="btn btn-red py-2 px-4 my-2" type="button">Iniciar Sesión</button>
        <p><a href="#">¿Olvidaste tu contraseña?</a></p>
    </section>
</div>