@{
    ViewData["Title"] = "Solicitud";
}

<link rel="stylesheet" href="~/css/login.css">

<div class="container text-center">
    <section class="form-register">
        <h4>Solicitud</h4>
        <input class="controls" type="text" name="nombre" id="nombre" placeholder="Nombre">
        <input class="controls" type="text" name="apellido" id="apellido" placeholder="Apellido">
        <input class="controls" type="email" name="correo" id="correo" placeholder="Correo (Ej: nombre@gmail.cl)">
        <textarea class="form-control" type="text" name="descripcion" id="descripcion" placeholder="Solicitud (Ej: necesito saber el autor de la canción tiempo de vals de 1990)"></textarea>
        <button type="button" class="btn btn-warning">Enviar</button>
        <p><a href="#">¿Aún no te llega respuesta?</a></p>
    </section>
</div>