*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

h1 {
    color: white ;
    font-size: 5rem ;
}

h2 {
    color: #c0c0c0 ;
    font-size: 3rem ;
}

.responsive-image {
    width: 20rem;
    height: 20rem;
}

p {
    font-size: 1.3rem;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    h1 {
        font-size: 4rem !important;
    }
    p {
        font-size: 1.1rem !important;
    }
    .responsive-image {
        width: 13rem !important;
        height: 13rem !important;
    }
}

@media (max-width: 767.98px) {
    h1 {
        font-size: 3.5rem !important;
    }
    p {
        font-size: 1rem !important;
    }
    .responsive-image {
        width: 11rem !important;
        height: 11rem !important;
    }
}

.btn {
    border-radius: 5px ;
}

.dropdown-menu {
    min-width: auto !important ;
}

.flex-1 {
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
}


.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.scroll-text-sm {
    position: relative;
    margin-top: .5rem;
    overflow: auto;
}    

.scroll-text {
    position: relative;
    height: 100px;
    overflow: auto;
} 


.input-group {
    margin-top: 20px;
}

/* Check button 
------------------------*/

.btn-green {
    background-color: #a5c26e;
    color: white;
    border: #a5c26e;
}

.btn-green:hover {
    color: #fff;
    background-color: #8fb361;
    border-color: #8fb361;
}

.btn-green:focus {
    color: #fff;
    background-color: #6db361;
    border-color: #6db361;
    outline: 0;
    box-shadow: none;
}

/* Cross button 
------------------------*/

.btn-red {
    background-color: #EA3B28;
    color: white;
    border: #e20059;
}

.btn-red:hover {
    color: #fff;
    background-color: #FF5D31;
    border-color: #FF5D31;
}

.btn-red:focus {
    color: #fff;
    background-color: #D12626;
    border-color: #D12626;
    outline: 0;
    box-shadow: none;
}

/* Update button 
------------------------*/

.btn-blue {
    background-color: #6fb6d7;
    color: white;
    border: #6fb6d7;
}

.btn-blue:hover {
    color: #fff;
    background-color: #6fa0d7;
    border-color: #6fa0d7;
}

.btn-blue:focus {
    color: #fff;
    background-color: #6f8fd7;
    border-color: #6f8fd7;
    outline: 0;
    box-shadow: none;
}

/* Dot button 
------------------------*/

.btn-grey {
    background-color: #e9ecef;
    border-color:#e9ecef;
    color: #6a6a6a;
}

.btn-grey:hover {
    background-color: #dee0e2;
    color: #6a6a6a;
    border-color:#dee0e2;
}

.btn-grey:active {
    background-color: #c6c6c6;
    border-color:#c6c6c6;
    outline: 0;
    box-shadow: none;
}

.btn-grey:focus {
    background-color: #c6c6c6;
    color: white;
    border-color: #c6c6c6;
    outline: 0;
    box-shadow: none;
}

a.navbar-brand:hover, .navbar a:hover, .card-link:hover {
    color: #FF5D31 !important;
    transition: .2s ease;
}
  
.navbar .active, .card-link:active {
    color: #D12626 !important;
}

.form-control:focus {
    border: 1px solid #e6e9ec !important;
    box-shadow: 0 0 0 0.2rem #f7f7f7 !important;
    transition: .3s ease ;
}
  