*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: #ffff;
}

.btn {
    border-radius: 5px;
}

.dropdown-menu {
    min-width: auto !important;
}

.flex-1 {
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
}


.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.scroll-text-sm {
    position: relative;
    margin-top: .5rem;
    overflow: auto;
}    

.scroll-text {
    position: relative;
    height: 125px;
    overflow: auto;
} 


.input-group {
    margin-top: 20px;
}

/* Check button 
------------------------*/

.btn-green {
    background-color: #a5c26e;
    color: white;
    border: #a5c26e;
}

.btn-green:hover {
    color: #fff;
    background-color: #8fb361;
    border-color: #8fb361;
}

.btn-green:focus {
    color: #fff;
    background-color: #6db361;
    border-color: #6db361;
    outline: 0;
    box-shadow: none;
}

/* Cross button 
------------------------*/

.btn-red {
    background-color: #e20059;
    color: white;
    border: #e20059;
}

.btn-red:hover {
    color: #fff;
    background-color: #ff4a4a;
    border-color: #ff4a4a;
}

.btn-red:focus {
    color: #fff;
    background-color: #b4006e;
    border-color: #b4006e;
    outline: 0;
    box-shadow: none;
}

/* Update button 
------------------------*/

.btn-blue {
    background-color: #6fb6d7;
    color: white;
    border: #6fb6d7;
}

.btn-blue:hover {
    color: #fff;
    background-color: #6fa0d7;
    border-color: #6fa0d7;
}

.btn-blue:focus {
    color: #fff;
    background-color: #6f8fd7;
    border-color: #6f8fd7;
    outline: 0;
    box-shadow: none;
}

/* Dot button 
------------------------*/

.btn-grey {
    background-color: #e9ecef;
    border-color:#e9ecef;
    color: #6a6a6a;
}

.btn-grey:hover {
    background-color: #dee0e2;
    color: #6a6a6a;
    border-color:#dee0e2;
}

.btn-grey:active {
    background-color: #c6c6c6;
    border-color:#c6c6c6;
    outline: 0;
    box-shadow: none;
}

.btn-grey:focus {
    background-color: #c6c6c6;
    color: white;
    border-color: #c6c6c6;
    outline: 0;
    box-shadow: none;
}

/*
.btn-grey.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show > .btn-outline-secondary.dropdown-toggle {
    color: white;
    background-color: #c6c6c6 !important;
    border-color: #f6f8f9 !important;
}
*/

