/* Pagination
----------------*/

.page-item.active .page-link {
    background-color: #c6c6c6;
    border-color: #c6c6c6;
}

.page-link {
    margin-left: 0.5rem;
    background-color: #e9ecef;
    color: #6a6a6a;
    border-radius: 5px !important;
    border: white;
}

.page-link:hover {
    color: #6a6a6a;
    text-decoration: none;
    background-color: #dee0e2;
    border-color: #dee2e6;
}

.buttonSearch:focus, .page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: none;
}


/* Expedientes 
------------------------*/

.limit {
    overflow: hidden ;
    text-overflow: ellipsis ;
    display: -webkit-box ;
    -webkit-line-clamp: 1 ;
    -webkit-box-orient: vertical ;
}

.limit-2 {
    overflow: hidden ;
    text-overflow: ellipsis ;
    display: -webkit-box ;
    -webkit-line-clamp: 2 ;
    -webkit-box-orient: vertical ;
}

.table-bordered,
.table {
    border-radius: 10px 10px 10px 10px !important ;
}

.table td:first-child, .table th:first-child {
    border-right: none ;
}
.table td:last-child, .table th:last-child {
    border-left: none ;
}

.table td:not(:first-child):not(:last-child),
.table th:not(:first-child):not(:last-child) {
    border-right: none ;
    border-left: none ;
}