*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff ;
}

.busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
    background: #e20059;
    padding: 10px;
    height: 80px;
}

.buscador {
    border: none;
    background: none;
    outline: none;
    color: #ffffff;
    font-size: 20px;
    font-family: "calibri";
    float: left;
    line-height: 60px;
    transition: .3s;
    width: 0;
}

.boton {
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    font-family: "calibri";
}

@media screen and (min-width:480px){
    .busqueda:hover > .buscador{
        width: 190px;
    }
}

@media screen and (min-width:768px){
    .busqueda:hover > .buscador{
        width: 360px;
    }
}

