/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Navbar
-------------------------------------------------- */

.navbar-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

a.navbar-brand {
  white-space: normal;
  word-break: break-all;
  font-weight: 300 !important;
  font-family: "Karla";
  text-transform: uppercase;
  font-size: 1.75em;
  color: #EA3B28 !important; 
}

@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1.3rem !important;
  }
  footer a {
    font-size: 0.8rem !important;
  }
  footer h3 {
    font-size: 1.37rem !important;
  }
}

/* Provide sufficient contrast against white background */
a {
  /*OG color -> color: #0366d6;*/
  color: black !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  z-index: 10;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 15rem !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black ;
  color: white ;
  margin-top: 100px;
}

footer a{
  color: white !important;
  line-height: 0 !important;
}


/* Custom CSS 
-------------------------------------------------- */

.margin-foot{
  margin-bottom: 150px;
}

.padding-top{
  padding-top: 65px;
}

@media (max-width: 576px) {
  .responsive-container {
      margin: 0.5rem !important ;
      padding: 0 !important ;
  }
  .responsive-font {
    font-size: 0.8rem !important ;
  }
}

